<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ pageTitle }}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="{{#if activeShop}}active{{/if}}">Shop</a></li>
          <li><a href="/admin/add-product" class="{{#if activeAddProduct}}active{{/if}}">Add product</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>

</html>
