<main>
	<section class="product-sect">
		{{#if hasProds}}
			{{#each prods}}
				<div class="product-item">
					<div class="product-title">{{this.title}}</div>
				</div>
			{{/each}}
		{{else}}
			<h1>Not products</h1>
		{{/if}}
	</section>
</main>
