extend layouts/main-layout.pug

block content
  main
    if prods.length > 0
      section.products-sect
        each product in prods
          .product-item
            h3.product-title #{product.title}
    else
      h1 No products
