<%- include('includes/head.ejs') %>

	<body>
		<%- include('includes/navigation.ejs') %>
		<main>
    <% if (prods.length > 0) { %>
      <section class="product-sect">
        <% for (let prod of prods) { %>
          <div class="product-item">
            <div class="product-title"><%= prod.title %></div>
          </div>
        <% } %>
      </section>
      <% } else { %>
        <h1>Not products</h1>
      <% } %>
    </main>
<%= include('includes/end.ejs') %>

