<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/css/main.css" />
		<title><%= pageTitle %></title>
	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Shop</a></li>
					<li><a href="/admin/add-product">Add product</a></li>
				</ul>
			</nav>
		</header>
		<main>
    <% if (prods.length > 0) { %>
      <section class="product-sect">
        <% for (let prod of prods) { %>
          <div class="product-item">
            <div class="product-title"><%= prod.title %></div>
          </div>
        <% } %>
      </section>
      <% } else { %>
        <h1>Not products</h1>
      <% } %>
    </main>
	</body>

</html>

