* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #000;
}

a {
	color: #000;
}

.product-item {
	width: 33%;
	background-color: #fff;
	color: #000;
	padding: 20px;
	border: 1px solid #000
}

.product-title {
	text-align: center;
	margin: 0 0 20px 0;
}

.products-sect {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

a.active {
	color: red;
}
